body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(./hh.png);
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    position: relative; /* 确保子元素的绝对定位是相对于body */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #363434;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    /* 阴影部分 */
    box-shadow: 0 0 17px #333;
}
.header {
    text-align: center;
    padding: 20px 0;

}
.header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #f5f5f5;

}
.content {
    color: #fff;
    padding: 20px;
    font-size: 1.1em;
    line-height: 1.6;
    width: 400px;
    position: absolute;
    margin-top: 50px; /* 使用margin-top增加顶部距离 */
    left: 10%; /* 将容器移动到右侧 */
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    /* 阴影部分 */
    box-shadow: 0 0 17px #404040;
}


.sidebar {
    position: fixed;
    right: 20px;
    top: 100px;
    width: 200px;
    padding: 20px;
    background-color: #eee;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    margin-top: 150px; /* 使用margin-top增加顶部距离 */
    right: 20%; /* 将容器移动到右侧 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    /* 阴影部分 */
    box-shadow: 0 0 17px #333;
}
.sidebar a {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #5606f7;
    border-radius: 5px;
}
.sidebar a:hover {
    background-color: #48f808;
}