body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(./bg2.png);
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 17px #333;
    border-radius: 25px;
    overflow-y: auto;
    max-height: 100vh;
    text-align: center;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 2.5em;
    color: #f5f5f5;
}

.actions {
    margin-top: 20px;
}

.actions .btn {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #6a0dad; /* Purple button color */
    border-radius: 5px;
    box-shadow: 0 0 17px #404040;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
}

.actions .btn:hover {
    background-color: #9932cc; /* Darker shade of purple for hover */
}

.search-form {
    margin-bottom: 20px;
}

.search-form form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form input[type="text"], .search-form select, .search-form button {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.search-form button {
    background-color: #6a0dad; /* Purple button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #9932cc; /* Darker shade of purple for hover */
}

.search-results {
    text-align: left;
}

.user-list {
    list-style-type: none;
    padding: 0;
}

.user-item {
    margin: 10px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    box-shadow: 0 0 5px #aaa;
}

.delete-btn {
    display: inline-block;
    margin-left: 10px;
    padding: 8px 16px;
    color: #fff;
    background-color: #ff6347; /* Red color for delete button */
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #dc143c; /* Darker red shade for hover */
}
