<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/admin_pages/admin_success.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav">
                <li>班级管理</li>
                <li>创建班级</li>
                <li>搜索用户</li>
                <li>用户管理</li>
            </ul>
        </div>
        <div class="content">
            <ul class="class-list">
                <li class="class-box">
                    
                    <div class="class_detail">
                        <div class="class_header">
                            <div class="class_number">
                                <h3>#1</h3>
                            </div>
                            <div class="class_name">
                                <h3>班级名称</h3>
                            </div>
                        </div>
                        <div class="mamber_amount">
                            <h4>班级人数: <strong>100</strong> </h4>
                        </div>
                    </div>
                    <div class="class-manage">
                        <button class="manage-btn">班级管理</button>
                    </div>
                </li>
                <li class="class-box"></li>
                <li class="class-box"></li>
                <li class="class-box"></li>
                <li class="class-box"></li>
                <li class="class-box"></li>
                <li class="class-box"></li>
                <li class="class-box"></li>
                <li class="class-box"></li>
                <li class="class-box"></li>
            </ul>
        </div>
    </div>
</body>
</html>