<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/admin_pages/admin_search_user.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav">
                <li>
                    <form action="/to_admin_success">
                        <button type="submit" class="nav-btn">
                            班级管理
                        </button>
                    </form>
                </li>
                <li>
                    <form action="/to_create_class">
                        <button type="submit" class="nav-btn">
                            创建班级
                        </button>
                    </form>
                </li>
                <li>
                    <form action="/to_admin_user">
                        <button type="submit" class="nav-btn">
                            用户管理
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="content">
        </div>
    </div>
</body>
</html>