<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/admin_pages/manage_class.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav">
                <li>班级管理</li>
                <li>创建班级</li>
                <li>搜索用户</li>
                <li>用户管理</li>
            </ul>
        </div>
        <div class="content">
            <div class="class_header">
                <img src="../../static/svg/back.svg" alt="BACK" height=20px>
                <div class="class_name">
                    <h4>班级名称</h4>
                </div>
            </div>
            <div class="class_body">
                <div class="left_area"></div>
                <div class="right_area">
                    <div class="member_container">
                        <div class="list-nav">
                            <ul class="list-header">
                                <li class="name">姓名</li>
                                <li class="email">邮箱</li>
                                <li class="phone">电话</li>
                                <li class="age">年龄</li>
                                <li class="job">工作</li>
                                <li class="year">入学年份</li>
                                <li class="identity">身份</li>
                                <li class="drop"></li>
                            </ul>
                        </div>
                        <div class="content-container">
                            <ul class="member-ul">
                                <div class="member-detail">
                                    <li class="name">姓名</li>
                                    <li class="email">邮箱</li>
                                    <li class="phone">电话</li>
                                    <li class="age">年龄</li>
                                    <li class="job">工作</li>
                                    <li class="year">入学年份</li>
                                    <li class="identity">身份</li>
                                    <li class="drop"></li>
                                </div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                                <div class="member-detail"></div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>