<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/admin_pages/manage_class.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <ul class="nav">
                <li>
                    <form action="/to_admin_success">
                        <button type="submit" class="nav-btn">
                            班级管理
                        </button>
                    </form>
                </li>
                <li>
                    <form action="/to_create_class">
                        <button type="submit" class="nav-btn">
                            创建班级
                        </button>
                    </form>
                </li>
                <li>
                    <form action="/to_admin_user">
                        <button type="submit" class="nav-btn">
                            用户管理
                        </button>
                    </form>
                </li>
                <li>
                    <form action="/admin_exit">
                        <button type="submit" class="nav-btn">
                            退出登录
                        </button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="class_header">
                <form action="/to_admin_success">
                    <button type="submit" class="back-btn">
                        <img src="../../static/svg/back.svg" alt="BACK" height=20px>
                    </button>
                </form>
                <div class="class_name">
                    <h4>{{ result.class_name }}</h4>
                </div>
            </div>
            <div class="class_body">
                <div class="left_area">
                    <div class="pop-window pop-modify">
                        <h3 class="pop-reminder">输入新的班级名称</h2>
                        <form action="/modify_class_name" class="pop-form" method="post">
                            <input type="hidden" name="class_id" value="{{ result.class_id }}">
                            <input type="hidden" name="class_name" value="{{ result.name }}">
                            <input type="text" class="pop-input" name="new_class_name">
                            <div class="option-box">
                                <button class="cancel-btn cancel-modyfy">取消</button>
                                <button type="submit" class="confirm-btn confirm-modyfy">确定</button>
                            </div>
                        </form>
                    </div>
                    <div class="left-nav modyfy-class">
                        修改班名
                    </div>

                    <div class="pop-window pop-dissolve">
                        <h3 class="pop-reminder">确定解散吗</h2>
                        <form action="/dissolve_class" class="pop-form" method="post">
                            <input type="hidden" name="class_id" value="{{ result.class_id }}">
                            <div class="option-box" id='dissolve-option'>
                                <button class="cancel-btn cancel-dissolve">取消</button>
                                <button type="submit" class="confirm-btn confirm-dissolve">确定</button>
                            </div>
                        </form>
                    </div>
                    <div class="left-nav dissolve-class">
                        解散班级
                    </div>

                    <div class="pop-window pop-invite">
                        <input type="hidden" name="class_id" value="{{ result.class_id }}">
                        <input type="hidden" name="class_name" value="{{ result.name }}">
                        <div class="input-box">
                            <input type="text" class="pop-input search-name" placeholder="输入用户名">
                            <button class="search-btn">搜索</button>
                        </div>
                        <div class="result-box">
                            <div class="search_result">
                                <p class="result-name">用户名</p>
                                <p class="result-age">邮箱</p>
                                <button class="invite-btn" class_id="{{ result.class_id }}">邀请</button>
                            </div>
                            <div class="search_result">
                                <p>该用户不存在！</p>
                            </div>
                            <div class="search_result">
                                <p>邀请发送成功！</p>
                            </div>
                        </div>
                        <div class="option-box" id="cancel-option">
                            <button class="cancel-btn cancel-invite">取消</button>
                        </div>
                    </div>
                    <div class="left-nav invite-user">
                        邀请用户
                    </div>
                </div>
                <div class="right_area">
                    <div class="member_container">
                        <div class="list-nav">
                            <ul class="list-header">
                                <li class="name">姓名</li>
                                <li class="email">邮箱</li>
                                <li class="phone">电话</li>
                                <li class="age">年龄</li>
                                <li class="job">工作</li>
                                <li class="year">入学年份</li>
                                <li class="identity">身份</li>
                                <li class="drop"></li>
                            </ul>
                        </div>
                        <div class="content-container">
                            <ul class="member-ul">
                                {% for user_info in result.user_info %}
                                <div class="member-detail">
                                    <li class="name">{{ user_info.username }}</li>
                                    <li class="email">{{ user_info.email }}</li>
                                    <li class="phone">{{ user_info.phone }}</li>
                                    <li class="age">{{ user_info.age }}</li>
                                    <li class="job">{{ user_info.job }}</li>
                                    <li class="year">{{ user_info.year }}</li>
                                    <li class="identity">
                                        <form action="/update_user_identity" method="post">
                                            <input type="hidden" name="class_id" value="{{ result.class_id }}">
                                            <input type="hidden" name="class_name" value="{{ result.name }}">
                                            <input type="hidden" name="username" value="{{ user_info.username }}">
                                            <input type="hidden" name="identity" value="{{ user_info.is_admin }}">
                                            {% if user_info.is_admin == 0 %}
                                            用户
                                            <button type="submit" class="identity-button">提升</button>
                                            {% endif %}
                                            {% if user_info.is_admin == 1 %}
                                            管理员
                                            <button type="submit" class="identity-button">撤销</button>
                                            {% endif %}
                                        </form>
                                    </li>
                                    <li class="drop">
                                        <form action="/remove_class_member" method="post">
                                            <input type="hidden" name="class_id" value="{{ result.class_id }}">
                                            <input type="hidden" name="class_name" value="{{ result.name }}">
                                            <input type="hidden" name="username" value="{{ user_info.username }}">
                                            <button type="submit" class="drop-button">移除</button>
                                        </form>
                                    </li>
                                </div>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // 点击修改班级名称
        var modify_btn = document.querySelector('.modyfy-class')
        modify_btn.addEventListener('click', function() {
            var pop_window = document.querySelector('.pop-modify')
            pop_window.style.display = 'block'
        })

        // 点击取消修改班级名称
        var cancel_modyfy = document.querySelector('.cancel-modyfy')
        cancel_modyfy.addEventListener('click', function() {
            var pop_window = document.querySelector('.pop-modify')
            pop_window.style.display = 'none'
        })

        // 点击解散班级
        var dissolve_class = document.querySelector('.dissolve-class')
        dissolve_class.addEventListener('click', function() {
            var pop_window = document.querySelector('.pop-dissolve')
            pop_window.style.display = 'block'
        })

        // 点击取消解散班级
        var cancel_modyfy = document.querySelector('.cancel-dissolve')
        cancel_modyfy.addEventListener('click', function() {
            var pop_window = document.querySelector('.pop-dissolve')
            pop_window.style.display = 'none'
        })

        // 点击邀请用户
        var invite_user = document.querySelector('.invite-user')
        invite_user.addEventListener('click', function() {
            var pop_window = document.querySelector('.pop-invite')
            pop_window.style.display = 'block'
        })

        // 取消邀请
        var cancel_modyfy = document.querySelector('.cancel-invite')
        cancel_modyfy.addEventListener('click', function() {
            var pop_window = document.querySelector('.pop-invite')
            pop_window.style.display = 'none'
            var search_result = document.querySelectorAll('.search_result')
            search_result[0].style.display = 'none'
            search_result[1].style.display = 'none'
        })

        // 点击搜索
        var search_btn = document.querySelector('.search-btn')
        search_btn.addEventListener('click', function() {
            var search_input = document.querySelector('.search-name')
            search_name = search_input.value
            requestBody = {
                'username' : search_name
            }

            fetch('/admin_search_user', {
                'method' : 'POST',
                "headers": {  
                    'Content-Type': 'application/json'  
                },  
                "body": JSON.stringify(requestBody)
            })
            .then(response => response.json())
            .then(data => {
                search_result = document.querySelectorAll('.search_result')
                if (data['is_empty'] === true) {
                    search_result[0].style.display = 'none'
                    search_result[1].style.display = 'flex'
                }
                else {
                    result_name = document.querySelector('.result-name')
                    result_age = document.querySelector('.result-age')
                    result_name.innerText = `${data['username']}`
                    result_age.innerText = `${data['age']}岁`
                    search_result[0].style.display = 'flex'
                    search_result[1].style.display = 'none'
                    console.log(search_result[1])
                }
            })
            .catch(error => console.error('Error:', error));
        })

        // 点击邀请
        invite_btn = document.querySelector('.invite-btn')
        invite_btn.addEventListener('click', function() {
            result_name = document.querySelector('.result-name')
            invitee = result_name.innerText
            class_id = this.getAttribute('class_id')
            requestBody = {
                'invitee' : invitee,
                'class_id' : class_id
            }
            fetch('admin_invite_user', {
                'method' : 'POST',
                "headers": {  
                    'Content-Type': 'application/json'  
                },  
                "body": JSON.stringify(requestBody)
            })
            .then(response => response.json())
            .then(data => {
                search_result = document.querySelectorAll('.search_result')
                search_result[0].style.display = 'none'
            })
            .catch(error => console.error('Error:', error));
        })

    </script>

</body>
</html>