body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 20px;
    background-image: url(../bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

button {
    font-size: 20px;
    cursor: pointer;
}

.container {
    margin-top: 0;
    border-radius: 20px;
    width: 80%;
    height: 100%;
    padding-top: 100px;
    background-color: #eca0a000;
}

.header {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    height: 100px;
    width: 80%;
    padding: 0;
    background-color: #6190e8;
}

.nav {
    display: flex;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 100%;
    list-style-type: none;
}

.content {
    display: flex;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 50px;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb7d;
}

.class-list {
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.class-box {
    display: inline-block;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    height: 150px;
    width: 220px;
    background-color: #76e5d684;
    text-align: center;
}

.class_header {
    display: flex;
    padding-top: 10px;
    height: 40px;
}

.class_header div {
    display: flex;
    box-sizing: border-box;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.mamber_amount {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mamber_amount h4 {
    padding: 0;
    margin: 0;
}

.manage-btn {
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 40px;
    background-color: #487cebdd;
}

.manage-btn:hover {
    background-color: #a5d4e3;
    cursor: pointer;
}

.nav-btn {
    border: none;
    width: auto;
    background-color: #ffffff00;
}