body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 20px;
}

button {
    font-size: 20px;
    cursor: pointer;
}

.container {
    margin-top: 0;
    border-radius: 20px;
    width: 80%;
    height: 100%;
    padding-top: 100px;
    background-color: #eca0a0;
}

.header {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    height: 100px;
    width: 80%;
    padding: 0;
    background-color: #6190e8;
}

.nav {
    display: flex;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 100%;
    list-style-type: none;
}

.content {
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #8ad23d;
}

.nav-btn {
    border: none;
    width: auto;
    background-color: #ffffff00;
}