body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-size: 20px;
    background-image: url(../bg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.container {
    margin-top: 0;
    border-radius: 20px;
    width: 80%;
    height: 100%;
    padding-top: 100px;
    background-color: #eca0a000;
}

.header {
    position: fixed;
    top: 0;
    box-sizing: border-box;
    height: 100px;
    width: 80%;
    padding: 0;
    background-color: #6190e8;
}

.nav {
    display: flex;
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    height: 100%;
    list-style-type: none;
}

.content {
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb7d;
}

.class_header {
    box-sizing: border-box;
    display: flex;
    padding-left: 10px;
    padding-right: 30px;
    height: 50px;
    width: 100%;
    background-color: #928f8f74;
    align-items: center;
}

.class_name {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.class_name h4 {
    padding: 0;
    margin: 0;
}

.class_body {
    display: flex;
    height: 100%;
    width: 100%;
}

.left_area {
    flex-grow: 1;
    height: 100%;
    background-color: #b9de3f62;
}

.right_area {
    width: 75%;
    height: 100%;
    padding: 40px;
    background-color: #d0a6f556;
}

.member_container {
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffffd3;
}

.list-header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    list-style-type: none;
}

.list-header li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name, .age, .job, .year, .emial {
    width: 105px;
}

.phone, .identity {
    width: 150px;
}

.email {
    flex-grow: 1;
}

.list-header .phone, .list-header .age, .list-header .job, .list-header .year, .list-header .emial, .list-header .identity, .list-header .email {
    border-left: 3px #333 solid;
}


.drop {
    width: 80px;
}

.member-ul {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.member-detail {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 60px;
    border-radius: 10px;
    border: #c6c3c3 3px solid;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    list-style-type: none;
    justify-content: space-evenly;
}

.member-detail li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.member-detail .phone, .member-detail .age, .member-detail .job, .member-detail .year, .member-detail .emial, .member-detail .identity, .member-detail .email {
    border-left: 3px #33333300 solid;
}

button {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 20px;
    cursor: pointer;
}

.drop-button {
    background-color: #f51717ee;
}

.drop-button:hover {
    background-color: #f3838d;
}

.identity-button {
    background-color: #f4ed0b;
}

.identity-button:hover {
    background-color: #f9f7be;
}

.left-nav {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    background-color: #9f87d6c4;
    border-bottom: #94bb8a 5px solid;
    cursor: pointer;
}

.left-nav:hover {
    background-color: #c2b8d9;
}

.invite-user {
    border-bottom: none;
}

form {
    display: flex;
    align-items: center;
}

.nav-btn {
    border: none;
    width: auto;
    background-color: #ffffff00;
}

.back-btn {
    background-color: #ffffff00;
}

.pop-window {
    display: none;
    /* display: block; */
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: translate(-50%, -50%);
    width:20%;
    height: 20%;
    border-radius: 20px;
    background: #84d1ed;
    color: #f4f4f4;
    text-align: center;
}

.option-box {
    width: 100%;
    margin-top: 40px;
}

.cancel-btn, .confirm-btn {
    display: inline-block; 
    width: 80px;
    margin: 0 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #4be753;
    border-radius: 5px;
    box-shadow: 0 0 10px #404040;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
}

.cancel-btn:hover, .confirm-btn:hover {
    background-color: #b9ecbc;
}

.pop-form {
    display: block;
}

.pop-reminder {
    margin: 0;
    margin-bottom: 30px;
}

.pop-input {
    height: 30px;
    width: 240px;
    background-color: #ffffff78;
    border: none;
    border-radius: 10px;
}

#dissolve-option {
    margin-top: 80px;
}

.result-box {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.search_result {
    display: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: #333 solid 2px;
    justify-content: space-evenly;
    align-items: center;
}

#cancel-option {
    margin-top: 20px;
}