<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改密码</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/change_password.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/css/all.min.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Hi!{{user[0]}}</h2>
            <h1>在这里可以修改密码哦！</h1>
            {% if message %}
            <p style="color: rgb(240, 73, 6);">{{ message }}</p>
            {% endif %}
        </div>
        <div class="content">
            <form action="/change_password" method="POST">
                <input type="hidden" name="user" value="{{ user }}">
                <span>
                    <i class="fas fa-lock"></i>
                    <input type="password" name="last_password" placeholder="旧密码" required>
                </span>
                <span>
                    <i class="fas fa-lock"></i>
                    <input type="password" name="new_password" placeholder="新密码" required>
                </span>
                <span>
                    <i class="fas fa-lock"></i>
                    <input type="password" name="confirm_password" placeholder="确认新密码" required>
                </span>
                <button type="submit">确认修改</button>
            </form>
        </div>
        <div class="actions">
            <a href="{{ url_for('return_userinfo', userinfo=user) }}" class="btn">返回用户信息页面</a>
        </div>
    </div>
</body>
</html>
