<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/class_invitation.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="pop-window" user_class="{{ class_name }}">
            <h2 class="approve_reminder">确定接受吗</h2>
            <div class="option-box">
                <button class="cancel-btn">取消</button>
                <button class="confirm-btn">确定</button>
            </div>
        </div>

        <div class="header">
            <h2>Hi! {{username}} 收到的班级邀请如下</h2>
        </div>
        <div class="content">
            <ul>
                {% for invitation in invite_info %}
                <form action="/response_invitation" method="POST">
                    <input type="hidden" name="invite_id" value="{{ invitation.invite_id }}">
                    <li>
                        <div class="class_name">{{ invitation.class_name }}</div>
                        <div class="inviter_name">{{ invitation.inviter }}</div>
                        <div class="invite_descp">{{ invitation.invite_time }}</div>
                        <div class="response">
                            <input type="hidden" name="response" class="response_input" value="">
                            <button type="button" class = "response_btn" onclick="submitForm('refuse', {{ invitation.index }})">
                                <img src="../static/svg/refuse.svg" alt="SVG Image" height="28">
                            </button>
                            <button type="button" class = "response_btn" onclick="clickApprove({{ invitation.index }})">
                                <img src="../static/svg/agree.svg" alt="SVG Image" height="28">
                            </button>
                        </div>
                    </li>
                </form>
                {% endfor %}
            </ul>
        </div>
        <div class="actions">
            <a href="{{ url_for('to_class_info',username=username) }}" class="btn">返回班级</a>
            <a href="{{ url_for('to_class_info',username=username) }}" class="btn">全部拒绝</a>
        </div>
    </div>

    <script>
        function submitForm(response, index) {  
            // 设置隐藏的response字段的值  
            var response_input = document.getElementsByClassName("response_input")
            response_input[index].value = response

            // 提交表单  
            var forms = document.querySelectorAll('form[action="/response_invitation"]');
            forms[index].submit();  
        }  

        // 点击接受邀请
        function clickApprove(index) {
            pop_window = document.querySelector('.pop-window')
            user_class = pop_window.getAttribute('user_class')
            h2 = document.querySelector('.approve_reminder')
            if (user_class === ""){
                h2.innerText = '你还没有加入班级, 确定加入吗 ?'
            }
            else {
                h2.innerText = `你已经加入 ${user_class} 加入新班级会退出原班级, 确定加入吗 ?`
            }
            pop_window.setAttribute('index', index)
            pop_window.style.display = 'block'
        }
        
        // 取消加入新班级
        cancel_btn = document.querySelector(".cancel-btn")
        cancel_btn.addEventListener('click', function() {
            pop_window = document.querySelector('.pop-window')
            pop_window.style.display = 'none'
        })

        // 确定加入新班级
        confirm_btn = document.querySelector('.confirm-btn')
        confirm_btn.addEventListener('click', function() {
            pop_window = document.querySelector('.pop-window')
            index = pop_window.getAttribute('index')
            submitForm ('agree', index)
        })

    </script>
</body>
</html>