<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>处理申请</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/handle_applicants.css') }}">
</head>
<body>
    <div class="container">
        <h1>处 理 申 请</h1>
        <h2>{{username}}!</h2>
            {% if message %}
            <p style="color: rgb(22, 242, 10);">{{ message }}</p>
            {% endif %} 

        {% if result.is_empty == false %}
        <div class="section">
            <h2>申请加入班级的同学</h2>
            <ul class="applicant-list">
                {% for application in result.apply_info %}
                <li class="applicant-item">
                    <strong>{{ application.applicant }}</strong> - {{ application.email }}
                    <a href="{{url_for('response_application', apply_id=application.apply_id, action='approve')}}" class="btn">批准</a>
                    <a href="{{url_for('response_application', apply_id=application.apply_id, action='reject')}}" class="btn">拒绝</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="section">
            <a href="{{url_for('to_admin_class') }}">返回班级管理页面</a>
        </div>
    </div>
</body>
</html>
