<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>校 友 通 讯 系 统</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>校 友 通 讯 系 统</h1>
        </div>
        <div class="content">
            <p>              欢迎校友来访！</p>
            <p>在这里你可以：</p>
            <ul>
                <li>查看个人信息：当初留下的信息，是不是遗忘了呢？</li>
                <li>个人信息修改：最近怎么样，有什么信息改变了吗？</li>
                <li>查看班级同学：以前在一起的同学，他们现在怎么样了？</li>
                <li>校友信息检索：快来看看这里有没有ta的信息！</li>
                <li>留言：有没有什么想要倾诉的呢，随意留言哦！</li>
            </ul>
        </div>
    </div>
    <div class="sidebar">
        <a href="{{ url_for('to_user_login') }}">用户登录</a>
        <a href="{{ url_for('to_admin_login') }}">管理员登录</a>
        <a href="{{ url_for('to_register') }}">用户注册</a>
    </div>
</body>
</html>
