<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的消息</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/css/all.min.css')}}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Hi!{{username}},这里是你发布的消息哦</h1>
            {% if message %}
            <p style="color: rgb(211, 10, 242);">{{ message }}</p>
            {% endif %} 
            <div class="actions">
                <a href="{{ url_for('to_messages') }}" class="btn">返回留言</a>
                <a href="{{ url_for('to_new_message') }}" class="btn">新的留言</a>

            </div>
        </div>
        <div class="content">
            <ul class="my-messages-list">
                {% if result.is_empty == false %}
                {% for message in result.user_msg %}
                <li class="my-message-item">
                    <div class="my-message-header">
                        {{ message.date }}
                        <a href="{{ url_for('delete_my_message', msg_id=message.msg_id) }}" class="delete-btn">删除</a>
                    </div>
                    <div class="my-message-body">
                        <p>{{ message.content }}</p>
                    </div>
                    <div class="message_comments">
                        <div class="hailer">
                            <img src="../static/svg/hail-done.svg" alt="SVG Image" height="25">
                            <p>{{ message.hailer }}</p>
                        </div>
                        <ul>
                            {% for comment in message.comment %}
                            <li class="comment">
                                <div class="comment-head">
                                    <p>{{ comment.username }} - {{ comment.comment_time }}</p>
                                </div>
                                <div class="comment-contet">
                                    <p>{{ comment.content }}</p>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endfor %}
                {% endif %}
                {% if result.is_empty == true %}
                <div class="remind_icon">
                    <a href="{{ url_for('to_new_message') }}" >
                        <img src="../static/svg/bubble-nomsg.svg" alt="SVG Image" width="150" height="150">
                    </a>
                    <h2>你还没有发布留言</h2>
                </div>
                {% endif %}
            </ul>
        </div>
    </div>
</body>
</html>
