<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的消息</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/my_messages.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/css/all.min.css')}}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Hi!{{username}},这里是你发布的消息哦</h1>
            {% if message %}
            <p style="color: rgb(211, 10, 242);">{{ message }}</p>
            {% endif %} 
            <div class="actions">
                <a href="{{ url_for('return_userinfo') }}" class="btn">返回主页</a>
                <a href="{{ url_for('to_new_message') }}" class="btn">新的留言</a>

            </div>
        </div>
        <div class="content">
            <ul class="my-messages-list">
                {% if result.is_empty == false %}
                {% for message in result.user_msg %}
                <li class="my-message-item">
                    <div class="my-message-header">
                        <strong> title </strong> - {{ message.date }}
                        <a href="{{ url_for('delete_my_message', msg_id=message.msg_id) }}" class="delete-btn">删除</a>
                    </div>
                    <div class="my-message-body">
                        <p>{{ message.content }}</p>
                    </div>
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
</body>
</html>
