<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户搜索</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search_user.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Hi!{{ username }},在这里可以搜索你的好友哦</h1>
            {% if message %}
            <p style="color: rgb(185, 11, 248);">{{ message }}</p>
            {% endif %} 
            <div class="actions">
                <a href="{{ url_for('return_userinfo', username=username) }}" class="btn">返回主页</a>
            </div>
        </div>
        <div class="search-form">
            <form action="{{ url_for('search_user', username=username) }}" method="GET">
                <input type="text" name="query" placeholder="输入搜索关键词...">
                <select name="category">
                    <option value="class">班级</option>
                    <option value="name">姓名</option>
                    <option value="phone">电话</option>
                </select>
                <button type="submit" class="btn-search">搜索</button>
            </form>
        </div>
        <div class="search-results">
            {% if result %}
            <h2>搜索结果</h2>
            <ul class="user-list">
                {% if result.is_empty == false %}
                {% for user in result.user_info %}
                <form action="/invite_buddy" method="post">
                    <input type="hidden" name="invitee" value="{{ user.username }}">
                    <li class="user-item">
                        <strong>{{ user.username }}</strong> - {{ user.class_name }} - {{ user.phone }}
                        {% if is_admin %}
                        <button type="submit" class="btn-invite">邀请</button>
                        {% endif %}
                    </li>
                </form>
                {% endfor %}
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</body>
</html>
