<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户搜索</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search_class.css') }}">
</head>
<body>
    <div class="container">

        <div class="pop-window">
            <h2 class="approve_reminder">请先退出当前班级后重试</h2>
            <div class="option-box">
                <button class="confirm-btn">确定</button>
            </div>
        </div>

        <div class="header">
            <h1>Hi!{{ username }},在这里可以搜索班级</h1>
            {% if message %}
            <p style="color: rgb(185, 11, 248);">{{ message }}</p>
            {% endif %} 
            <div class="actions">
                <a href="{{ url_for('to_class_info',username=username) }}" class="btn">返回班级</a>
            </div>
        </div>
        <div class="search-form">
            <form action="{{ url_for('search_class', username=username) }}" method="GET">
                <input type="text" name="query" placeholder="输入搜索关键词...">
                <select name="category">
                    <option value="class_name">班级名称</option>
                    <option value="class_id">班级id</option>
                </select>
                <button type="submit" class="btn-search">搜索</button>
            </form>
        </div>
        <div class="search-results">
            {% if result %}
            <h2>搜索结果</h2>
            <ul class="class-list">
                {% if result.success %}
                {% for class_ in result.class_info %}
                <form action="/apply_class" method="post" class="class_id_{{ class_.c_id }}">
                    <input type="hidden" name="c_id" value="{{ class_.c_id }}">
                    <li class="class-item">
                        <strong>{{ class_.c_id }}</strong> - {{ class_.c_name }}
                        <button type="button" class="btn-apply" onclick='tryApplyClass("class_id_{{ class_.c_id }}", "{{ result.user_class }}")'>申请</button>
                    </li>
                </form>
                {% endfor %}
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>

    <script>
        function tryApplyClass(class_id, user_class){
            if (user_class === ""){
                form = document.querySelector(`.${class_id}`)
                form.submit()
            }
            else {
                pop_window = document.querySelector('.pop-window')
                pop_window.style.display = 'block'
            }
        }

        confirm_btn = document.querySelector('.confirm-btn')
        confirm_btn.addEventListener('click', function() {
            pop_window = document.querySelector('.pop-window')
            pop_window.style.display = 'none'
        })
    </script>

</body>
</html>
