<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>校友通讯</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_success.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/css/all.min.css')}}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>欢迎你！{{info['username']}}</h2>
            <h1>用 户 信 息</h1>
            {% if message %}
            <p style="color: rgb(22, 242, 10);">{{ message }}</p>
            {% endif %} 
        </div>
        <div class="content">
            <p><strong>用户名:</strong>{{ info[0] }}</p>
            <p><strong>邮箱：</strong>{{ info[1] }}</p>
            <p><strong>电话：</strong>{{ info[2] }}</p>
            <p><strong>年龄：</strong>{{info[3] }}</p>
            <p><strong>工作：</strong>{{ info[4] }}</p>
            <p><strong>入学年份：</strong>{{ info[5] }}</p>
        </div>
        <div class="actions">
            <a href="{{ url_for('to_change_info',username=info['username']) }}" class="btn">修改信息</a>
            <a href="{{ url_for('to_class_info',username=info['username']) }}" class="btn">班级信息</a>
            <a href="{{ url_for('to_messages',username=info['username']) }}" class="btn">校友留言</a>
            <a href="{{ url_for('to_search_user',username=info['username']) }}" class="btn">搜索好友</a>
        </div>
    </div>
</body>
</html>
