<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>校友通讯</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user_success.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome/css/all.min.css')}}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>欢迎你！{{user_info.username}}</h2>
            <h1>用 户 信 息</h1>
        </div>
        <div class="content">
            <p><strong>用户名:</strong>{{ user_info.username }}</p>
            <p><strong>邮箱：</strong>{{ user_info.email }}</p>
            <p><strong>电话：</strong>{{ user_info.phone }}</p>
            <p><strong>年龄：</strong>{{ user_info.age }}</p>
            <p><strong>工作：</strong>{{ user_info.job }}</p>
            <p><strong>入学年份：</strong>{{ user_info.year }}</p>
        </div>
        <div class="actions">
            <a href="{{ url_for('to_change_info') }}" class="btn">修改信息</a>
            <a href="{{ url_for('to_class_info') }}" class="btn">班级信息</a>
            <a href="{{ url_for('to_messages') }}" class="btn">班级留言</a>
            <a href="{{ url_for('to_search_user') }}" class="btn">搜索好友</a>
            <a href="{{ url_for('exit') }}" class="btn">退出登录</a>
        </div>
    </div>
</body>
</html>
